h1
{
	font-family: calibri;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #d3d3d3;
	text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    text-indent: 100px;
    text-shadow: 3px 2px red;
    
}

p
{
    color: #0000ff;
	font-family: verdana;
	font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
    text-indent: 100px;
    text-shadow: -3px -2px limegreen;
}	

