h1
{
	font-family: calibri;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: lightgrey;
	text-decoration: underline;
	text-align: center;
}

p
{
    color: blue;
	font-family: verdana;
	font-size: 20px;
	font-style: italic;
}	
